.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
    background: linear-gradient(to right, #0f0f0f, #203a43); /* mismo fondo degradado */
    color: #fff;
    text-align: left;
  }
  
  .about-content {
    max-width: 800px;
  }
  
  .about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 16px;
  }
  